## Time Series Forecasting Framework

# Importing Libraries

In [1]:
import pandas as pd

# Importing Dataset

In [2]:
data = pd.read_csv(r"D:\Learning\SL---Time-Series-Analysis\data\yahoo_stock.csv")

In [3]:
data.head()

,Date,High,Low,Open,Close,Volume,Adj Close
0,2015-11-23,2095.610107,2081.389893,2089.409912,2086.590088,3.587980e+09,2086.590088
1,2015-11-24,2094.120117,2070.290039,2084.419922,2089.139893,3.884930e+09,2089.139893
2,2015-11-25,2093.000000,2086.300049,2089.300049,2088.870117,2.852940e+09,2088.870117
3,2015-11-26,2093.000000,2086.300049,2089.300049,2088.870117,2.852940e+09,2088.870117
4,2015-11-27,2093.290039,2084.129883,2088.820068,2090.110107,1.466840e+09,2090.110107

In [9]:
data['Date'] = pd.to_datetime(data['Date'])
data = data.set_index('Date')

# Data Preparation

In [11]:
class DataPrep:
    
    def __init__(self,data=None):
        self.full_df = data
    
    def get_target(self, target_name):
        data = self.full_df.copy()
        self.target = data[[target_name]]